body {

  margin: 0;
  height: 100vh;
  background: url('fondo.jpeg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: background 1s;
}

.contenedor {
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 350px;
}

.card img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card p {
  margin-top: 15px;
  color: #444;
  font-size: 1.1em;
}


